@import url('https://fonts.googleapis.com/css?family=Montserrat|PT+Serif&display=swap');

.wrapper {
  width: 800px;
  margin: auto;
  padding: 40px;
}

a:link, a:visited, a:active {
  text-decoration: none;
  color: rgb(95, 97, 99);
}

a:hover {
  /*text-decoration: underline;*/
  color: #FF8DBD;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  color: #171e21;
}

h3 {
  font-size: 19px;
}

p, a {
  font-family: 'PT Serif', serif;
  color: rgb(95, 97, 99);
  font-size: 18px;
  letter-spacing:.3px;
  line-height: 25px;
}

.card {
  border: 1px solid;
  border-radius: 5px;
  border-color: rgb(209, 217, 226);
  padding: 25px;
  padding-bottom: 45px;
  margin-bottom: 15px;
}